/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* line 18, ../scss/_reset.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
/* line 28, ../scss/_reset.scss */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

/* line 31, ../scss/_reset.scss */
body {
  line-height: 1;
}

/* line 34, ../scss/_reset.scss */
ol, ul {
  list-style: none;
}

/* line 37, ../scss/_reset.scss */
blockquote, q {
  quotes: none;
}

/* line 41, ../scss/_reset.scss */
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

/* line 45, ../scss/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 50, ../scss/_reset.scss */
body {
  font-size: Helvetica, Arial;
}

/* line 54, ../scss/_reset.scss */
a {
  text-decoration: none;
}

/* line 5, ../scss/_navbar.scss */
.ui-navbar {
  width: 100%;
  height: 80px;
  line-height: 80px;
  background-color: #466fbb;
  padding: 0 20px;
}

/* line 13, ../scss/_navbar.scss */
.ui-navbar .logo {
  font-size: 16px;
  color: white;
}

/* line 5, ../scss/_table.scss */
.ui-table {
  margin-bottom: 20px;
}
/* line 8, ../scss/_table.scss */
.ui-table .row {
  display: -webkit-flex;
  display: flex;
}
/* line 13, ../scss/_table.scss */
.ui-table .item {
  width: 100%;
  box-sizing: border-box;
}
/* line 18, ../scss/_table.scss */
.ui-table a {
  color: #466fbb;
}
/* line 23, ../scss/_table.scss */
.ui-table .thead .row {
  background-color: #466fbb;
}
/* line 27, ../scss/_table.scss */
.ui-table .thead .item {
  font-size: 14px;
  color: white;
  padding: 10px;
  text-align: center;
  border-right: 1px solid #b6c6e4;
}
/* line 34, ../scss/_table.scss */
.ui-table .thead .item:last-child {
  border-right: none;
}
/* line 41, ../scss/_table.scss */
.ui-table .tbody .row {
  background-color: white;
  border-bottom: 1px solid #eee;
}
/* line 44, ../scss/_table.scss */
.ui-table .tbody .row:nth-child(even) {
  background-color: #fbfbfb;
}
/* line 48, ../scss/_table.scss */
.ui-table .tbody .row:hover {
  background-color: #f4f4f4;
}
/* line 53, ../scss/_table.scss */
.ui-table .tbody .item {
  padding: 10px;
  line-height: 20px;
  font-size: 12px;
  text-align: center;
}

/* line 5, ../scss/_panel.scss */
.ui-panel {
  background-color: #fff;
  margin-bottom: 20px;
}

/* line 10, ../scss/_panel.scss */
.ui-panel-title {
  padding: 10px 20px;
  background-color: #466fbb;
  color: #fff;
  font-size: 14px;
  line-height: 21px;
}

/* line 18, ../scss/_panel.scss */
.ui-panel-body {
  padding: 10px;
}

/* line 22, ../scss/_panel.scss */
.ui-panel /deep/ ui-table::shadow .ui-table {
  margin-bottom: 0 !important;
}

/* line 5, ../scss/_tree.scss */
.ui-tree {
  margin: 5px 0 5px 20px;
  font-size: 14px;
  line-height: 21px;
  cursor: default;
}

/* line 12, ../scss/_tree.scss */
.ui-tree::content::shadow .ui-tree {
  background-color: red;
}

/* line 5, ../scss/_button.scss */
.ui-button {
  line-height: 20px;
  font-size: 14px;
  color: #fff;
  background-color: #466fbb;
  border: none;
  outline: none;
  padding: 5px 20px;
}
/* line 14, ../scss/_button.scss */
.ui-button:active {
  position: relative;
  bottom: -1px;
}

/* line 5, ../scss/_text-field.scss */
.ui-text-field {
  margin: 10px 20px;
}

/* line 9, ../scss/_text-field.scss */
.ui-text-field .ui-text-field-label {
  width: 150px;
  text-align: right;
  padding-right: 10px;
  display: inline-block;
  font-size: 14px;
  height: 26px;
  line-height: 26px;
}

/* line 19, ../scss/_text-field.scss */
.ui-text-field-text {
  border: 1px solid #ccc;
  font-size: 12px;
  line-height: 18px;
  padding: 3px;
  width: 200px;
}

/* line 27, ../scss/_text-field.scss */
.ui-text-field-error {
  color: #f90000;
  font-size: 12px;
  margin-left: 5px;
}
