//
// button
// --------------------------------------------------

.ui-button {
    line-height: 20px;
    font-size: $base-fontsize;
    color: #fff;
    background-color: $primary-color;
    border: none;
    outline: none;
    padding: 5px 20px;

    &:active {
        position: relative;
        bottom: -1px;
    }
}