//
// panel
// --------------------------------------------------

.ui-panel {
    background-color: #fff;
    margin-bottom: $block-margin;
}

.ui-panel-title {
    padding: 10px 20px;
    background-color: $primary-color;
    color: #fff;
    font-size: $base-fontsize;
    line-height: $base-fontsize * 1.5;
}

.ui-panel-body {
    padding: 10px;
}

.ui-panel /deep/ ui-table::shadow .ui-table { margin-bottom: 0 !important; }