//
// table
// --------------------------------------------------

.ui-table {
    margin-bottom: $block-margin;

    .row {
        display: -webkit-flex;
        display: flex;
    }

    .item {
        width: 100%;
        box-sizing: border-box;
    }

    a {
        color: $primary-color;
    }

    .thead {
        .row {
            background-color: $primary-color;
        }

        .item {
            font-size: $base-fontsize;
            color: white;
            padding: 10px;
            text-align: center;
            border-right: 1px solid lighten($primary-color, 30%);

            &:last-child {
                border-right: none;
            }
        }
    }

    .tbody {
        .row {
            background-color: white;
            border-bottom: 1px solid #eee;
            &:nth-child(even) {
                background-color: #fbfbfb;
            }

            &:hover {
                background-color: #f4f4f4;
            }
        }

        .item {
            padding: 10px;
            line-height: 20px;
            font-size: $small-fontsize;
            text-align: center;
        }
    }

}