//
// variable
// --------------------------------------------------


$base-fontsize:  14px;
$large-fontsize: 16px;
$small-fontsize: 12px;

$primary-color: #466fbb;


// Block
// -------------------------
$block-margin: 20px;