<!DOCTYPE html>

<link rel="import" href="../../bower_components/polymer/polymer.html" />

<polymer-element name="ui-form" attributes="action method validate">
    <template>
        <link rel="stylesheet" type="text/css" href="../../css/ui.css">
        <style>
            :host {
                display: block;
            }

        </style>
        <content></content>
    </template>

    <script>
        Polymer("ui-form", {
            ready: function() {

            },
            validateForm: function() {

            }
        });
    </script>

</polymer-element>
