<!DOCTYPE html>

<link rel="import" href="../../bower_components/polymer/polymer.html" />

<polymer-element name="ui-text-field" attributes="name label trim required validate value min max regex email message">
    <template>
        <link rel="stylesheet" type="text/css" href="../../css/ui.css">

        <div class="ui-text-field">
            <label id="label" class="ui-text-field-label" for="input">{{label}}:</label>
            <input class="ui-text-field-text" type="{{type}}" id="input" name="{{name}}" value="{{value}}" placeholder="{{placeholder}}" autocomplete="off" on-blur="{{valueChanged}}">
            <span id="error" class="ui-text-field-error">{{errorMessage}}</span>
        </div>
    </template>

    <script>
        Polymer("ui-text-field", {
            value: "",
            type: 'text',
            validate: "on",
            validated: true,
            ready: function() {
                this.messages = {};

                if (this.message) {
                    this.message.split(';').forEach(function(msg) {
                        var arr = msg.split(':');
                        var key = arr[0];
                        var value = arr[1];

                        if (key && value) {
                            key = key.trim();
                            value = value.trim();

                            this.messages[key] = value;
                        }

                    }.bind(this));
                }

                this.typeChanged();
            },
            typeChanged: function() {
                if (this.type != 'text' && this.type != 'password') {
                    this.type = 'text';
                }
            },
            valueChanged: function() {
                if (this.trim != null) {
                    this.value = this.value.trim();
                }

                if (this.validate != "off") {
                    this.validateField();
                }
            },
            validateField: function() {
                var value    = this.value || "";
                var length   = value.length;

                var required = this.required;
                var min      = this.min;
                var max      = this.max;
                var regex    = this.regex;
                var email    = this.email;

                this.validated = false;

                if (value == '') {
                    if (required != null) {
                        this.errorMessage = this.messages.required || "请输入" + this.label;

                    } else {
                        this.errorMessage = "";
                        this.validated = true;
                    }

                    return this.validated;
                }

                if (min != null && min >= length) {
                    this.errorMessage = this.messages.min || "不能少于" + min + "个字符";

                } else if (max != null && max <= length) {
                    this.errorMessage = this.messages.max || "不能多于" + max + "个字符";

                } else if (regex != null && value.match(new RegExp(regex)) == null) {
                    this.errorMessage = this.messages.regex || "不符合规则";

                } else if (email != null && value.match(/^\w+@\w+(\.\w+)+$/) == null) {
                    this.errorMessage = this.messages.email || "请输入正确的邮箱";

                } else {
                    this.errorMessage = "";
                    this.validated = true;
                }

                return this.validated;
            }
        });
    </script>

</polymer-element>
